
<div style="display: flex; flex-direction: column; align-items: center;">
<ul style="list-style-type: none">
    <li>
        {{customer.name}}
    </li>
    <li>
        {{customer.street_name}}
    </li>
    <li>
        {{customer.city}}
    </li>
    <li>
        {{customer.post_code}}
    </li>
    <li>
        {{customer.phone_number}}
    </li>
    <li>
        {{customer.email}}
    </li>
    <li>
        {{customer.contact_person}}
    </li>
    <li>
        {{customer.contact_person_phone}}
    </li>
    <li>
        {{customer.contact_person_email}}
    </li>
</ul>

</div>